* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2rem;
}

pre {
  padding: 2rem;
}

textarea {
  width: 100%;
  height: 50%;
  padding: 1rem;
}

@media print {
  textarea {
    display: none;
  }
}
